
@import "abstract/constants";
@import "base/base";
@import "components/header";
@import "components/main";
@import "components/navigation";
@import "components/switches";
@import "components/hamburger";
@import "components/modal";
@import "layouts/wrapper";

@font-face {
  font-family: 'LatoBlack';
  src: url('/assets/fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoBold';
  src: url('/assets/fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoLight';
  src: url('/assets/fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoRegular';
  src: url('/assets/fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoThin';
  src: url('/assets/fonts/lato/Lato-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
