$content-width: 1020px;
$tablet-width: 768px;
$mobile-small-width: 320px;

$color-background-1: #5fe1b1;
$color-background-2: #2a7a53;
$color-background-3: #df3186;
$color-background-4: #2ca4a5;
$color-background-5: #ffff40;

$color-overlay: rgba(80, 80, 80, 0.4);
$color-light: #ffffff;

$color-font-1:  #ff216a;