.header__hamburger{
    position: relative;
    width:50px;
    transform: translate(50%, -50%);
    z-index: 3;
}

.header__hamburger-bar{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
    display:block;
    height: 30px;

    span{
        background-color: $color-background-3;
        display:block;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
        border-radius: 3px;
        width: 100%;
        height:4px;
        position: relative;
        width: 25px;
        transition: all 0.3s;  
    }

    span + span{
        margin-top: 7px; 
    }
} 


.header__hamburger-bar.active span:nth-child(1) {
    animation: ease .7s top forwards;
  }
.header__hamburger-bar.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
  }
.header__hamburger-bar.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
  }
.header__hamburger-bar.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
  }
.header__hamburger-bar.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
  }
.header__hamburger-bar.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
  }

@keyframes top {
    0% {
      top: 0;
      transform: rotate(0);
    }
    50% {
      top: 11px;
      transform: rotate(0);
    }
    100% {
      top: 11px;
      transform: rotate(45deg);
    }
  }
  
  @keyframes top-2 {
    0% {
      top: 11px;
      transform: rotate(45deg);
    }
    50% {
      top: 11px;
      transform: rotate(0deg);
    }
    100% {
      top: 0;
      transform: rotate(0deg);
    }
  }
  
  @keyframes bottom {
    0% {
      bottom: 0;
      transform: rotate(0);
    }
    50% {
      bottom: 11px;
      transform: rotate(0);
    }
    100% {
      bottom: 11px;
      transform: rotate(135deg);
    }
  }
  
  @keyframes bottom-2 {
    0% {
      bottom: 11px;
      transform: rotate(135deg);
    }
    50% {
      bottom: 11px;
      transform: rotate(0);
    }
    100% {
      bottom: 0;
      transform: rotate(0);
    }
  }
  
  @keyframes scaled {
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(0);
    }
  }
  
  @keyframes scaled-2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

