.header{
    height: 80px;
    background-color: $color-background-1;
    color: $color-font-1;

   

.header__wrapper{   
    align-items: center;
    display: flex;
    justify-content: space-between; 
    height: 100%;
    h1{
        margin-right: 15%;
        span{
            display: none;
        }
        
        img{
            position: relative;
            margin: 0 auto;
            width: 80%;
            max-width: 70px;
            
        }
        img:hover{
            cursor: pointer;
            border-radius: 30%;
            transition: all 2s ease-out;
            animation: pulse-shrink 2s linear infinite;
        }
    }
}
}

// animation: pulse-shrink 2s;

@keyframes pulse-shrink {
    25% {
		transform: scale(1.3);
	}

	50% {
		transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }
    
    100% {
        transform: scale(1);
    }
}
