.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: $color-light;
    width: 70%;
    height: 70%;
    overflow: auto;
    flex-direction: column;
    h2{
        color: $color-background-1;
    }
    img{
        max-width: 70%;
    }

    div{
        color: $color-background-1; 
        font-family: "LatoBlack", sans-serif;
    }

    .category-stats{
        font-size: 30px;
        font-weight: 900;
    }

    .category-stats:hover{
        cursor: pointer;
        animation: pulse-shrink 2s linear infinite;
    }

    .categories-link{
        color:$color-background-5;
    }

    .category-name{
        font-size: 30px;
        font-weight: 900; 
    }

}

.modal__close-icon {
    position: absolute;
    top: 30px;
    right: 26px;
    width: 10vw;
    height: 10vw;
    cursor: pointer;
}