.navigation{
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 30%;
    height: 100%; 
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 1s;  
    text-align: right;
    z-index: 2;
    li{ 
        padding-top: 2em;
        margin-right: 10vw;
    }

    // li a:before {
    //     position: relative;
    //     content:"";
    //     transition: ease .5s;
    //     font-size: 0px;
    //   }
    //   li a:hover:before {
    //     content:"\263A";
    //     font-size: 2em;
    //     transition: ease .5s;
    //     font-weight: bold;
    //     text-decoration: inherit;
    //     font-family: "LatoBlack"; 
    //     color: $color-font-1; 
    //   }
    
}

.navigation-active {
    visibility: visible;
    left: 0;
  }

.navigation_train{
    background-color: $color-background-2;
}

.navigation_play{
    background-color: $color-background-5;
}  

.link_active{
    color: #0f7afc;
    border-bottom: 2px solid;
    border-bottom-color: rgba(15, 122, 252, 0.2);
}

